<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Web development final semester project</h1>
    <div class="col-lg-6 pt-3 mx-auto">
        <p class="lead">
            Welcome to our cooking recipes website! We are a team of university students who love to code. 
            Our goal is to provide a platform for home cooks of all skill levels to discover new and delicious dishes to try in their own kitchens. 
            We believe that cooking should be fun and accessible to everyone, and we strive to make our website a welcoming and inspiring place for all. 
            Thank you for visiting and we hope you enjoy our recipes!    
        </p>
</div>

<img
    src="/img/publish-recipe.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Publish your recipe for FREE today"
    width="566"
    height="208"
    loading="lazy"
/>
    