<!-- <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Cooking Blog - Login</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Login to get started.</p>
    </div>
</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="cform" style="padding: 0 10%; margin-bottom: 5%" class="cform">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name-="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <div class="email error"></div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name=password class="form-control" id="password" placeholder="Password" required>
            <div class="password error"></div>
          </div>
          <div class ="mt-3 mb-3">
            <button  class="btn btn-primary">Login</button>
            <a href="/signup" class="btn btn-secondary">Sign-up</a>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Login</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Login to get started.</p>
    </div>
  </div>
  
  <div class="row justify-content-center">

    <% if(infoSubmitObj != '') { %>
      <div class="col-8 alert alert-success" role="alert">
        <%= infoSubmitObj %>
      </div>
    <% } %>
  
    <% if(infoErrorsObj != '') { %>
      <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorsObj[0].message %>
      </div>
    <% } %>  
    
    <div class="col-8">
  
      <form action="#" class="form" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <div class="email error"></div>
          </div>
  
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="password error"></div>
          </div>
            
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/signup" class="btn btn-secondary">Sign-up</a>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>

  <script>
    const form = document.querySelector('.form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit',async (e) =>{
      e.preventDefault();
  
      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      //get the values
      const email = form.email.value;
      const password = form.password.value;
  
      try{
        const res = await fetch('/login',{
          method: 'POST',
          body: JSON.stringify({email, password}),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if(data.errors){
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if(data.user){
          location.assign('/');
        }
      }
      catch(err){
        console.log(err);
      }
    })
  </script>


