<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Sign-up</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Sign-up to get started.</p>
  </div>
</div>

<div class="row justify-content-center">

  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>  
  
  <div class="col-8">

    <form action="#" class="form"  enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <!-- <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div> -->

        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" required>
          <div class="email error"></div>
        </div>

        <!-- <div class="col-12">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="country" id="country" class="form-control" required>
        </div> -->

        <div class="col-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" class="form-control" required>
          <div class="password error"></div>
        </div>

          
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign-up</button>
        </div>

      </div>
    
    </form>

  </div>
</div>

<script>
    const form = document.querySelector('.form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit',async (e) =>{
      e.preventDefault();
  
      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      //get the values
      const email = form.email.value;
      const password = form.password.value;
  
      try{
        const res = await fetch('/signup',{
          method: 'POST',
          body: JSON.stringify({email, password}),
          headers: {'Content-Type': 'application/json'}
        });
        const data = await res.json();
        console.log(data);
        if(data.errors){
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if(data.user){
          location.assign('/login');
        }
      }
      catch(err){
        console.log(err);
      }
    })
</script>

  
